---
import HomeCv from"../components/html/portfolio-2-col-masonry.html";
import Head from "../components/html/head.html";
import Script from "../components/html/script.html";
--- 
<!doctype html>
<html lang="zxx">
  <Head />
  <body>
    <HomeCv />
    <Script />
  </body>
</html>