---
import PortfolioSinglee2 from"../components/html/portfolio-single-2.html";
import Head from "../components/html/head.html";
import Script from "../components/html/script.html";
--- 
<!doctype html>
<html lang="zxx">
  <Head />
  <body>
    <PortfolioSinglee2/>
    <Script />
  </body>
</html>