<div class="about-img">
  <img src="img/about.jpg" />
</div>

<div class="about-text">
  <h2>About <span>Me</span></h2>
  <h4>Creative UI/UX Designer!</h4>
  <p>
    Check out 10 Best Design's updates for the top web design & development
    companies for your needs by reviewing our list & development companies! Find
    the best web design. Web Design Consulting. Comprehensive Directory. Top
    Reviewed Design Firms. Types: Enterprise Design Firms, Startup Design Firms,
    Custom Design Firms, eCommerce Design Firms, App Design Firms. Custom Web
    Solution. 24x7 Customer Support. Secure Payment Gateway. Get A Free Web
    Quote. 24/7 Chat Support. Services: Web Page Design, Landing Page Design,
    App development, Mobile Website Design
  </p>
  <a href="#" class="btn">More About</a>
</div>

<style>
  .about-img img {
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
  }

  .about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
  }

  .about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
  }

  .about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
  }
  @media (max-width: 920px) {
    .about-img {
      text-align: center;
      order: 2;
    }

    .about-img img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
</style>
