---
import Icon from './Icon.astro';
---

<section class="box skills">
	<h2 class="skills-tittle">Skills</h2>
	<div>core skills:</div>
	<div class="flex-skills">
		<div class="stack gap-2 lg:gap-4">
			<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Design</h2>
			<p>figma</p>
			<p>tailwind</p>
		</div>
		<div class="stack gap-2 lg:gap-4">
			<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Front-end</h2>
			<p>typescript.</p>
			<p>react</p>
		</div>
		<div class="stack gap-2 lg:gap-4">
			<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Back-end</h2>
			<p>PHP.</p>
		</div>
		<div class="stack gap-2 lg:gap-4">
			<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Other</h2>
			<p>git & github.</p>
		</div>
	</div>
</section>

<style>
	.skills .flex-skills .stack{
		align-items: center;
	}
	.skills-tittle{
		text-align: center;
	}
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
		text-align: center;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	.flex-skills{
		display: flex;
		flex-direction: column;
		gap: 3rem;
		flex-wrap: wrap;
		justify-content: center;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 48em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.flex-skills{
		flex-direction: row;
		flex-wrap: nowrap; 
		justify-content: space-evenly;
	}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
